<h1>Home</h1>

<%= link_to "Go to App", app_index_path %>

<% if user_signed_in? %>
    <p>Logged in as <%= current_user.email %></p>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, onclick: "removeToken()" %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
<% end %>

<button onclick="handleClick()">Call API</button>
<div id="api-result"></div>

<script>
function handleClick() {
    const headers = JSON.parse(localStorage.getItem('auth'));
    const fetch_opts = { credentials: 'omit' } // omit | same-origin | include
    if (headers)
        fetch_opts['headers'] = headers;

    const div = document.getElementById('api-result');
    fetch('http://localhost:3000/api/items', fetch_opts)
        .then(resp => resp.json())
        .then(content => { div.innerText = JSON.stringify(content); });
}

function removeToken() {
    localStorage.removeItem('auth');
};
</script>
